Source: displaylink
Section: unknown
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@unknown>
Build-Depends:
 debhelper-compat (= 12),
 libusb-1.0-0-dev,
 uuid-dev,
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/displaylink
#Vcs-Git: https://salsa.debian.org/debian/displaylink.git

Package: displaylink
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 evdi-dkms (>= 1.7.0~)
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
