Source: displaylink
Section: unknown
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@unknown>
Build-Depends:
 debhelper-compat (= 13),
 libusb-1.0-0-dev,
 uuid-dev,
Standards-Version: 4.4.1
Homepage: https://github.com/thopiekar/displaylink
Vcs-Browser: https://github.com/thopiekar/displaylink
Vcs-Git: https://github.com/thopiekar/displaylink.git

Package: displaylink
Architecture: amd64
Depends:
# EVDI
 evdi-dkms (>= 1.9.0),
 libevdi0-dev (>= 1.9.0),
# Debhelper
 ${shlibs:Depends},
 ${misc:Depends},
# System tools
 systemd,
 udev,
 initramfs-tools,
Description: DisplayLink - management software
 The software manages the virtual displays provided by evdi together with the hardware.
 It basically mirrors the content of the virtual screen including properties like resolution and passes it to the connected screen.
 Displaylink as a company only gives support for Xorg. Wayland will follow or not.
