#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

%:
	dh $@


# TODO: Move this to displaylink.install!
override_dh_auto_install:
	mkdir -p ./debian/displaylink/opt/displaylink
	cp ./$(DEB_HOST_ARCH)/DisplayLinkManager ./debian/displaylink/opt/displaylink
	cp ./firmware/*.spkg ./debian/displaylink/opt/displaylink
	
	mkdir -p ./debian/displaylink/lib/systemd/system/
	cp ./debian/displaylink-driver.service ./debian/displaylink/lib/systemd/system/displaylink-driver.service
	
	mkdir -p ./debian/displaylink/lib/systemd/system-sleep/
	cp ./indep/suspend.sh ./debian/displaylink/lib/systemd/system-sleep/displaylink.sh

	mkdir -p ./debian/displaylink/lib/udev/rules.d/
	cp ./indep/60-displaylink.rules ./debian/displaylink/lib/udev/rules.d/
	cp ./indep/udev.sh ./debian/displaylink/opt/displaylink
	
	mkdir -p ./debian/displaylink/etc/modprobe.d/
	cp ./indep/modprobe.d/displaylink-evdi.conf ./debian/displaylink/etc/modprobe.d/
